#title{
	width: 100%;
}

#backpage {
	width: 900px;
	margin: 0 auto 0 auto;
}

#backheader {
	clear: both;
	height: 50px;
	margin: 0px 5px 5px 5px;
	padding: 1px;
	color: white;
}

#backleftpanel {
	float: left;
	width: 150px;
	margin: 0px 5px;
}

#backbody {
	padding: 0px 160px 5px 160px;
	margin: 0px;
	margin: 0px 5px;
}

#backrightpanel {
	float: right;
	width: 150px;
	margin: 0px 5px;
}

#backfooter {
	clear: both;
	margin: 5px 5px 0px 5px;
}

.articlelist{
	
}

.articlelist .articleitem li{
   
}

.articlelist .articleitem li{
}
