.bigblock {
	word-wrap: break-word;
	word-break: break-all;
}

#divlogin{
    text-align: right;
}

#divlogin a{
	padding-left: 0;
    padding-right: 10px;
    margin: 0;
}

.message{
	margin-top:15%;
	text-align: center;
	font-size: 28px;
	color: #444;
}

.message a{
    color: #245DC1;
}

.message a:visited {
    color: #7759ae;
}


.inlineitems ul{
    padding: 0;
    margin: 0;
}

.inlineitems li{
	display: inline;
    padding: 0 10xp;
}

.listitems ul{
	padding: 0;
}

.listitems li{
    display: list-item;
    list-style:none;
    
}

.listitems li ul{
    display: list-item;
    list-style:none;
    padding: 6px 0 0 30px;
}

.w90p{
	width: 90%
}

.w80p{
    width: 80%
}