.bigblock {
	word-wrap: break-word;
	word-break: break-all;
}

#divlogin{
    text-align: right;
}

.message{
	margin-top:15%;
	text-align: center;
	font-size: 32px;
	color: #444;
}

.message a{
    color: #245DC1;
}

.message a:visited {
    color: #7759ae;
}


.inlineitems ul{
    padding: 0;
}

.inlineitems li{
	display: inline;
    padding: 0 20px;
}

.listitems ul{
	padding: 0;
}

.listitems li{
    display: list-item;
    list-style:none;
    padding: 0 0 14px 0;
}

.listitems li ul{
    display: list-item;
    list-style:none;
    padding: 6px 0 0 30px;
}

