/*****category*******/
.categorybar li{
	display: inline;
	background-color: #ddd;
}

.subcategories li{
    display: inline-block;
    margin: 5px 3px;
}

.categorybar{
	text-align: center;
}

.categorybar ul{
	padding:0;
    background-color: #ddd;
}

.categorybar li a{
    padding: 0 30px;
}

.categorybar li:hover a, li.current a{
    background-color: #bbb;
    color: #245DC1;
}

/*****article*******/
.post{
	color: #444;
	margin: 0 0 30px 0;
}

.post .posttitle{
    font-size: 24px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.post .posttitle a{
	color: #444;
}

.post .posttitle:hover a{
    color: #245DC1;
}


.post .postinfo{
    font-size: 11px;
}

.post .postinfo li{
    padding-right: 10px;
}

.post .postcontent{
    font-size: 16px;
    margin-top: 15px;
}

.post .postcontent a{
    color: #245DC1;
}

.post .postcontent a:visited {
    color: #7759ae;
}