#frontpage {
	width: 900px;
	margin: 0 auto 0 auto;
}

#frontheader {
	clear: both;
/* 	height: 50px; */
	background-color: blue;
	margin: 0px 5px 5px 5px;
	padding: 1px;
	color: white;
}

#frontleftpanel {
	float: left;
	width: 150px;
	background-color: red;
	margin: 0px 5px;
}

#frontbody {
	padding: 0px 160px 5px 160px;
	margin: 0px;
	background-color: silver;
	margin: 0px 5px;
}

#frontrightpanel {
	float: right;
	width: 150px;
	background-color: green;
	margin: 0px 5px;
}

#frontfooter {
	clear: both;
	background-color: yellow;
	margin: 5px 5px 0px 5px;
}