#frontleftpanel {
	float: left;
	width: 150px;
	background-color: red;
	margin: 0px 5px;
}

#frontbody {
	padding: 0px 0px 5px 160px;
	margin: 0px;
	background-color: silver;
	margin: 0px 5px;
}

#frontrightpanel {
	float: right;
	width: 0px;
	margin: 0px;
}
