body {
	font-size: 14px;
	font-weight: normal;
	font-family: Arial,sans-serif,宋体,simsun;
	background-color: #fdfdfd;
	color: #444;
	margin: 0px;
	padding: 0px;
}

#header {
/* 	border: solid #111; */
/*	height: 20px;*/
}

#footer {
	text-align: center;
}

#mainpage {
    width: 990px;
    margin: 0 auto 0 auto;
/*  background-color: #fbfbfb; */
}

#mainheader {
    clear: both;
/*  height: 50px; */
    margin: 0px 5px 5px 5px;
    padding: 1px;
    color: white;
}

#mainfooter {
    clear: both;
    margin: 5px 5px 0px 5px;
}

#mainleftpanel {
    float: left;
    width: 150px;
    margin: 0px 5px;
}

#mainrightpanel {
    float: right;
    width: 150px;
    margin: 0px 5px;
}

#mainbody {
    padding: 0px 160px 10px 160px;
    margin: 0px;
    margin: 0px 5px;
}


