#mainleftpanel {
	float: left;
	width: 0px;
	margin: 0px;
}

#mainbody {
	padding: 0px 160px 10px 0px;
	margin: 0px;
	margin: 0px 5px;
}

#mainrightpanel {
	float: right;
	width: 150px;
	margin: 0px 5px;
}